* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    background-color: #55355A;
    display: flex;
    justify-content: center;
    color: white;
}

#container {
    margin: 20rem auto;
    background-color: rgba(0, 0, 0, .2);
    width: 25rem;
}

#container span {
    text-align: center;
    margin-top: 3rem;
    font-size: 1.4rem;
    display: block;
}

#container label {
    display: block;
    text-align: center;
    margin: 2rem 0px 0px 0px;
}

#container #box {
    margin: 2rem auto;
    display: block;
}

#container #box ul li span {
    font-size: 25px;
    border: 1px solid white;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    padding: 10px 20px;
    display: inline-block;
    width: 13.4rem;
}

.btn {
    border: none;
    padding: 10px 20px;
    background-color: #f90000;
    color: white;
    font-size: 1.4rem;
    border-radius: 5px;
}